{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">Do It 장고</a>

        {#        헴버거 매뉴 드롭다운#}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">블로그</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About Me</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false"
                       id="navbarDropdownMenuLink"
                    >DropDown</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                        >{{ user.username }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarNavDropdown">
                            <a href="/accounts/logout" class="dropdown-item">
                                로그아웃
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="#" class="nav-link"
                           data-bs-toggle="modal"
                           data-bs-target="#loginModal">
                            로그인
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>


{#Modal#}
<div class="modal fade" id="loginModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="logInModalLabel"
     aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">&nbsp Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button"
                           class="btn btn-outline-dark btn-block btn-sm"
                           href="{% provider_login_url 'google' %}">
                            <i class=" fab fa-google"></i>
                            구글 로그인
                        </a>
                        <a role="button"
                           class="btn btn-outline-dark btn-block btn-sm"
                           href="/accounts/login">
                            <i class="far fa-envelope"></i>
                            E-mail 로그인
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a role="button"
                           class="btn btn-outline-dark btn-block btn-sm"
                           href="/accounts/signup">
                            <i class="far fa-envelope"></i>
                            회원가입
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

    </div>
</div>

</div>