{% extends 'blog/base.html' %}

<h1>블로그</h1>

{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a href="/blog/create_post/"
               class="btn btn-info btn-sm float-end" role="button">
                <span class="d-inline-flex align-items-center gap-2">
                    <i class="bi bi-pen"></i> 글 등록
                </span>
            </a>
        {% endif %}

    {% endif %}

    <h1>Blog
        {% if search_info %}
            <span class="bg d-inline-flex align-items-center gap-1 bg-primary rounded-pill px-3 py-1">
            <i class="bi bi-tags"></i>
            {{ search_info }}
            </span>
        {% endif %}

        {% if category %}
            <span class="bg bg-secondary">{{ category }}</span>
        {% endif %}

        {% if tag %}
            <span class="bg d-inline-flex align-items-center gap-1 bg-primary rounded-pill px-3 py-1">
            <i class="bi bi-tags"></i>
            {{ tag }} {{ tag.post_set.count }}
            </span>
        {% endif %}

    </h1>

    {% if post_list.exists %}
        {% for p in post_list %}
            <div class="card mb-4" id="post-{{ p.pk }}">
                {% if p.head_image %}
                    <img src="{{ p.head_image.url }}" alt="" class="card-img-top">
                {% else %}
                    <img src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="" class="card-img-top">
                {% endif %}

                <div class="card-body">
                    {% if p.category %}
                        <span class="bg bg-secondary float-end">{{ p.category }}</span>
                    {% else %}
                        <span class="bg bg-secondary float-end">미분류</span>
                    {% endif %}

                    <h2 class="card-title">{{ p.title }}</h2>
                    {% if p.hook_text %}
                        <h5 class="text-muted">{{ p.hook_text }}</h5>
                    {% endif %}

                    <p class="card-text">{{ p.get_content_markdown | truncatewords:20 | safe }}</p>

                    {% if p.tags.exists %}
                        <i class="fas fa-tags"></i>
                        {% for tag in p.tags.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span class="bg bg-pill bg-light">#{{ tag }}</span></a>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endif %}

                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary">더 보기
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="card-footer text-muted">
                    {{ p.created_at }}에 등록된 글(작성자:{{ p.author | upper }})
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}

    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link"> 이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link"> 이전</a>
                </li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"> 다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link"> 다음</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}